<% wrap_layout :base do %>
  <header id="page_header">
  <h1>Mike Bloy</h1>
  </header>
  <div id="page_content">
    <nav id="contentlinks">
    <ul>
      <%= nav_link_to "Intro", "/" %>
      <%= nav_link_to "Professional", "/professional.html" %>
      <%= nav_link_to "Personal", "/personal.html" %>
      <%= nav_link_to "Credits", "/credits.html" %>
    </ul>
    </nav>

    <nav id="links">
    <ul>
      <%= email_nav_link_to "Email", data.contact.email %>
      <% data.contact.social.each do |social| %>
        <%= social_nav_link_to social %>
      <% end %>
    </ul>
    </nav>

    <article>
    <%= yield %>
    </article>
  </div>
  <footer id="page_footer">
  Created with middleman and vim
  </footer>
<% end %>
