<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Mike Bloy<%= extra_title %></title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href="/humans.txt" rel="author" type="text/plain" />
    <%= favicon_tag 'images/favicon.ico' %>
    <%= stylesheet_link_tag 'fonts/tex-gyre-pagella/stylesheet' %>
    <%= stylesheet_link_tag 'fonts/tex-gyre-adventor/stylesheet' %>
    <%= stylesheet_link_tag 'screen' %>
    <%= stylesheet_link_tag 'print', :media => :print %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    <%= javascript_include_tag 'site' %>
    <%# javascript_include_tag 'gaq' %>
    <script type="text/javascript">
    </script>
  </head>
  <body class="bp two-col">
    <div id="container">
      <div id="header"><header><h1>Mike Bloy<%= extra_title %></h1></header></div>
      <div id="sidebar">
        <nav id="contentlinks">
        <ul>
          <li><%= link_to "Intro", "/" %></li>
          <li><%= link_to "Professional", "/professional.html" %></li>
          <li><%= link_to "Personal", "/personal.html" %></li>
          <li><%= link_to "Credits", "/credits.html" %></li>
          <%# TODO: resume? %>
        </ul>
        </nav>
        <nav id="links">
        <ul>
          <li id="email"><a href="mailto:mike@meat-in-a-tin.bloy.org"
            title="mike@meat-in-a-tin.bloy.org">Email</a></li>
          <li id="github"><a href="http://github.com/bloy"
            title="github">github</a></li>
          <li id="linkedin"><a href="http://www.linkedin.com/in/mikebloy"
            title="LinkedIn">LinkedIn</a></li>
          <li id="stackexchange"><a
            href="http://stackexchange.com/users/1296619/bloy?tab=accounts"
            title="StackExchange">StackExchange</a></li>
          <li id="gplus"><a
            href="http://plus.google.com/114407630208677316457/about"
            title="Google Plus">Google Plus</a></li>
          <li id="facebook"><a href="http://www.facebook.com/mbloy"
            title="Facebook">Facebook</a></li>
          <li id="twitter"><a href="http://twitter.com/mikebloy"
            title="Twitter">Twitter</a></li>
        </ul>
        </nav>
      </div>
      <div id="content">
        <section class="minipage">
          <%= yield %>
        </section>
      </div>
      <div id="footer">
        <footer>
        <p>Content and design are copyright &#169; 2012 <a href="#">Mike
          Bloy</a>, all rights reserved.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
