<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Michael Bloy - Resume</title>
<meta name="author" content="Michael Bloy" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"/>
<link rel="stylesheet" href="resume.css" />
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
  <article class="resume">
    <header>
      <hgroup>
      <h1>Michael Bloy</h1>
      <h2>Developer, Sysadmin</h2>
      </hgroup>
      <div class="contact">
        <dl>
          <dt>Phone</dt>
          <dd><%= data.contact.phone %></dd>

          <dt>Email</dt>
          <dd>
          <%= link_to data.contact.email, "mailto:#{data.contact.email}" %>
          </dd>

          <dt>Website</dt>
          <dd><a href="http://mike.bloy.org/">http://mike.bloy.org</a></dd>
        </dl>
      </div>
    </header>

    <section id="skills">
      <h2>Skills</h2>
      <% data.resume.skills.each do |skillset| %>
        <h3><%= escape_html skillset.section %></h3>
        <ul class="skillset">
          <% skillset.skills.each do |skill| %>
            <li><%= skill %></li>
          <% end %>
        </ul>
      <% end %>
    </section>

    <section id="employment">
      <h2>Employment</h2>
      <% data.resume.jobs.each do |job| %>
        <section id="employment-<%= job.id %>">
          <hgroup>
          <h3><%= escape_html job.name %></h3>
          <h4 class="title"><%= escape_html job.title %></h4>
          <h4 class="date-range">
            <span class="range-start"><%= escape_html job.when.start %></span>
            <span class="range-end"><%= escape_html job.when.end %></span>
          </h4>
          <h4 class="town"><%= escape_html job.where %></h4>
          </hgroup>
          <ul class="duties">
            <% job.duties.each do |duty| %>
              <li><%= escape_html(duty) %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </section>

    <section id="education">
      <h2>Education</h2>
      <% data.resume.education.each do |school| %>
        <section id="education-<%= school.id %>">
          <hgroup>
          <h3><%= escape_html school.where %></h3>
          <h4 class="degree"><%= escape_html school.degree %></h4>
          </hgroup>
          <ul class="duties">
            <% school.extra.each do |extra| %>
              <li><%= escape_html(extra) %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </section>

    <section id="links">
      <h2>Links</h2>
      <% data.resume.links.each do |section| %>
        <section>
          <h3><%= escape_html section.section %></h3>
          <ul>
            <% section.links.each do |link| %>
              <% if link["text"] %>
                <li><%= link_to escape_html(link.text), link.url %></li>
              <% else %>
                <li><%= link_to escape_html(link), link %></li>
              <% end %>
            <% end %>
          </ul>
        </section>
      <% end %>
    </section>

    <footer>
      Michael Bloy -
      <%= link_to data.contact.email, "mailto:#{data.contact.email}" %> -
      <%= data.contact.phone %>
    </footer>
  </article>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <%= javascript_include_tag "resume" %>
</body>
</html>
