---
layout: false
menu: true
title: Resume
---
<!DOCTYPE html>
<!-- /ht Paul Irish - http://front.ie/j5OMXi -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Michael Bloy - Resume</title>
<meta name="author" content="Michael Bloy" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700'
  rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "resume", :media => 'all' %>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body role="document">
  <article class="resume">
    <header role="banner">
      <hgroup>
      <h1>Michael Bloy</h1>
      <h2>Developer, Sysadmin</h2>
      </hgroup>
      <div class="contact">
        <dl>
          <dt>Phone</dt>
          <dd><%= data.contact.phone %></dd>

          <dt>Email</dt>
          <dd>
          <%= link_to data.contact.email, "mailto:#{data.contact.email}" %>
          </dd>

          <dt>Website</dt>
          <dd><a href="http://mike.bloy.org/">http://mike.bloy.org</a></dd>
        </dl>
      </div>
    </header>

    <section id="skills">
      <h2>Skills</h2>
      <div class="section-info">
        <% data.resume.skills.each do |skillset| %>
          <div class="skillset">
            <h3><%= escape_html skillset.section %></h3>
            <ul class="skillset">
              <% skillset.skills.each do |skill| %>
                <li><%= skill %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </section>

    <section id="employment">
      <h2>Employment</h2>
      <div class="section-info">
        <% data.resume.jobs.each do |job| %>
          <div class="employment" id="employment-<%= job.id %>">
            <hgroup>
            <h3><%= escape_html job.name %></h3>
            <h4 class="town"><%= escape_html job.where %></h4>
            <h4 class="date-range">
              <span class="range-start"><%= escape_html job.when.start %></span>
              &ndash;
              <span class="range-end"><%= escape_html job.when.end %></span>
            </h4>
            <h4 class="title"><%= escape_html job.title %></h4>
            </hgroup>
            <ul class="duties">
              <% job.duties.each do |duty| %>
                <li><%= escape_html(duty) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </section>

    <section id="education">
      <h2>Education</h2>
      <div class="section-info">
        <% data.resume.education.each do |school| %>
          <div class="education" id="education-<%= school.id %>">
            <hgroup>
            <h3><%= escape_html school.where %></h3>
            <h4 class="degree"><%= escape_html school.degree %></h4>
            </hgroup>
            <ul class="duties">
              <% school.extra.each do |extra| %>
                <li><%= escape_html(extra) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </section>

    <section id="links">
      <h2>Links</h2>
      <div class="section-info">
        <% data.resume.links.each do |section| %>
          <div>
            <h3><%= escape_html section.section %></h3>
            <ul>
              <% section.links.each do |link| %>
                <% if link["text"] %>
                  <li><%= link_to escape_html(link.text), link.url %></li>
                <% else %>
                  <li><%= link_to escape_html(link), link %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </section>

    <footer role="complementary">
      <span class="name">Michael Bloy</span>
      &mdash;
      <span class="email"><%= link_to data.contact.email, "mailto:#{data.contact.email}" %></span>
      &mdash;
      <span class="phone"><%= data.contact.phone %></span>
    </footer>
  </article>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%= javascript_include_tag "resume" %>
  <%= javascript_include_tag "gaq" %>
</body>
</html>
